.all{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: white;
}
header::before{
    position: absolute;
    content: "";
    background-image: url("../Images/kitchen.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 2500px;
    width: 100%;
    z-index: -1;
    filter: brightness(.5);
}


